.img {
  width: 280px;
  padding: 30px;
}

.content {
  font-size: 24px;
  text-align: left;
}

.title {
  font-family: 'Gloria Hallelujah';
  font-size: 60px;
  text-decoration: underline;
}

.namecard {
  font-family: 'Gloria Hallelujah';
  top: 200px;
  padding: 50px;
  border-radius: 50px;
}

.name {
  font-size: 80px;
  margin-top: 0px;
}

.text {
  font-size: 30px;
}

.subtitle {
  font-size: 40px;
  margin-top: 0px;
}

.imgContainer {
  height: 200px;
}
@media screen and (max-width: 800px) {
  .img {
    width: 180px;
    padding: 15px;
  }
  .content {
    font-size: 18px;
  }
  .title {
    font-size: 30px;
    text-decoration: underline;
  }
  .namecard {
    top: 0px;
    left: 0px;
    padding: 0px;
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
  }
  .name {
    font-size: 40px;
    margin-top: 0px;
  }
  .text {
    font-size: 15px;
  }
  .subtitle {
    font-size: 20px;
    margin-top: 0px;
  }
  .imgContainer {
    height: 120px;
  }
}
